<div class="modal fade" id="signup-modal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<%= render "shared/modal/security" %>
			<%= render "shared/modal/select_provider" %>
			<%= render "shared/modal/signin" %>
			<%= render "shared/modal/signin_other" %>
			<%= render "shared/modal/confirmation" %>
		</div>
	</div>
</div>