<div class="container about">
	<div class="row">
		<div class="col-sm-6 about-description">
			<h2>About Salary Benchmark</h2>
			<br/>
			<p>
				<b>We empower employees to earn the most for their skills.</b>
			</p>
			<p>
				Salary Benchmark is a free service funded by Stanford University that lets individuals compare their annual salary with the average for someone with similar skills, responsibilities, or tenure. We make it easy for people to see whether they are getting paid enough by their current employer. 			
			</p>
		</div>
		<div class="col-sm-6">
			<%= image_tag("us.png", class: "about-image") %>
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>The Problem</b>
				<br/><br/>
				It's not always easy to figure out whether you're being paid fairly. How much does someone with your educational background, work experience, or title get paid in your industry? Does someone with your job make more or less than you in a different city? It's hard for people to benchmark their company's compensation versus the rest of the industry.  	
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>The Solution</b>
				<br/><br/>
				At Salary Benchmark, we believe workers should be able to easily, securely, and anonymously benchmark their current salary against the average for peers with similar skills, comparable backgrounds, or at competing companies. Our free comparison tool allows you to link your latest paystub information and see instantly where you stack up. Thinking of asking for a raise? Let Salary Benchmark give you the hard evidence that you deserve more, so you can ask for an increase with intelligence and confidence. 
			</p>
		</div>
	</div>
	<br/><br/>
	<div class="row company-values">
		<div class="col-sm-3">
			<%= image_tag("people-first.svg", class: "supporters-image") %>
			<br/>
			<b>Empowerment</b>
			<br/>
			We strive to build products that empower people to get the most out of their employment.
		</div>
		<div class="col-sm-3">
			<%= image_tag("care.svg", class: "supporters-image") %>
			<br/>
			<b>Security</b>
			<br/>
			We take privacy and security incredibly seriously and use end-to-end encryption to keep your data safe.
		</div>
		<div class="col-sm-3">
			<%= image_tag("high-standards.svg", class: "supporters-image") %>
			<br/>
			<b>High Standards</b>
			<br/>
			We aim for excellence in everything we do and always go the extra mile for our users.
		</div>
		<div class="col-sm-3">
			<%= image_tag("simplicity.svg", class: "supporters-image") %>
			<br/>
			<b>Simplicity</b>
			<br/>
			Our product is simple to use for employees at all companies. Simplicity always wins.
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>Who we are</b>
				<br/><br/>
				We are a team of entrepreneurs who love building useful and innovative products. We come from six countries over three continents and unite over great ideas. Our founders are Stanford alumni, passionate about product design.
			</p>
		</div>		
	</div>
</div>
