<div class="container">
	<div class="row">
		<div class="col-sm-6 splash-description">
			<h2>The easiest way to access your tax forms</h2>
			<p>
				Verix helps people quickly access their W-2, W-4, &amp; 1099 tax forms so tax season can be a little bit simpler
			</p>
			<button type="button" data-toggle="modal" data-target="#getStartedModal" class="splash-button">Get Started</button>
		</div>
		<div class="col-sm-6">
			<%= image_tag("human-calculator.png", class: "splash-image") %>
		</div>
	</div>
</div>
<div class="container supporters">
	<div class="row">
		<h4 class="supporters-title">Trusted &amp; Supported By</h4>
	</div>
	<div class="row supporters-list">
		<div class="col-md-4">
			<%= image_tag("index-ventures.png", class: "supporters-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("pear.png", class: "supporters-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("stanford.png", class: "supporters-image") %>
		</div>
	</div>
</div>


<div class="modal fade" id="getStartedModal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="page1">
				<div class="row security">
					<div class="col-sm-12">
						<%= image_tag("security-icon.png") %>
					</div>
				</div>
				<br/>
				<div class="row title">
					<div class="col-sm-12">
						Verix links to your payroll provider to collect all your tax forms
					</div>
				</div>
				<br/>
				<div class="row private">
					<div class="col-sm-1">
						<%= image_tag("check-icon.png") %>
					</div>
					<div class="col-sm-10 private-content">
						<p>Secure</p>
						<p class="subtitle">Transfer of your information is encrypted end-to-end</p>
					</div>
				</div>
				<div class="row private">
					<div class="col-sm-1">
						<%= image_tag("check-icon.png") %>
					</div>
					<div class="col-sm-10 private-content">
						<p>Private</p>
						<p class="subtitle">Your credentials will never be accessible to Verix</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="continue-button">Continue</button>
					</div>
				</div>
				<br/>
				<div class="row legal">
					<div class="col-sm-12">
						By selecting "Continue" you agree to Verix's Privacy Policy.
					</div>
				</div>
			</div>

			<div class="page2">
				<a href="/" class="arrow-left back-1"></a>
				<div class="row title">
					<div class="col-sm-12">
						Select Your Payroll Provider
					</div>
				</div>
				<br/>
				<div class="payroll-provider-list">
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="adp">
								<%= image_tag("adp.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="workday">
								<%= image_tag("workday.png") %>
							</a>
						</div>
					</div>
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="gusto">
								<%= image_tag("gusto.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="paylocity">
								<%= image_tag("paylocity.png") %>
							</a>
						</div>
					</div>
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="paycom">
								<%= image_tag("paycom.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="paychex">
								<%= image_tag("paychex.png") %>
							</a>
						</div>
					</div>
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="sap">
								<%= image_tag("sap.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="intuit">
								<%= image_tag("intuit.png") %>
							</a>
						</div>
					</div>
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="oracle">
								<%= image_tag("oracle.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="ultimate">
								<%= image_tag("ultimate.png") %>
							</a>
						</div>
					</div>
					<div class="row payroll">
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="ceridian">
								<%= image_tag("ceridian.png") %>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/" class="payroll-provider" data-payroll-provider="square">
								<%= image_tag("square.png") %>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="page3">
				<div>
					<a href="/" class="arrow-left back-2"></a>
					<div class="row title">
						<div class="col-sm-12">
							Enter your credentials
						</div>
					</div>
					<div class="row payroll-provider-selected">
						<div class="col-sm-12">
							<div class="payroll-provider-selected-icon adp"><%= image_tag("adp.png") %></div>
							<div class="payroll-provider-selected-icon workday"><%= image_tag("workday.png") %></div>
							<div class="payroll-provider-selected-icon gusto"><%= image_tag("gusto.png") %></div>
							<div class="payroll-provider-selected-icon paylocity"><%= image_tag("paylocity.png") %></div>

							<div class="payroll-provider-selected-icon paycom"><%= image_tag("paycom.png") %></div>
							<div class="payroll-provider-selected-icon paychex"><%= image_tag("paychex.png") %></div>
							<div class="payroll-provider-selected-icon sap"><%= image_tag("sap.png") %></div>
							<div class="payroll-provider-selected-icon intuit"><%= image_tag("intuit.png") %></div>

							<div class="payroll-provider-selected-icon oracle"><%= image_tag("oracle.png") %></div>
							<div class="payroll-provider-selected-icon ultimate"><%= image_tag("ultimate.png") %></div>
							<div class="payroll-provider-selected-icon ceridian"><%= image_tag("ceridian.png") %></div>
							<div class="payroll-provider-selected-icon square"><%= image_tag("square.png") %></div>

						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 payroll-provider-credentials">
							<form>
							  <%= csrf_meta_tag %>
							  <div class="form-group">
							  	<input type="email" class="form-control" id="payroll-email"placeholder="Email">
							  </div>
							  <div class="form-group">
							  	<input type="password" class="form-control" id="payroll-password" placeholder="Password">
							  </div>
							  <button type="submit" class="btn btn-primary share-credentials-button">Submit</button>
							</form>
						</div>
					</div>
			    </div>
			</div>
			<div class="page4">
				<div class="row">
					<div class="col-sm-12 confirmation">
						<h3>That's all, thank you!</h3>
						<%= image_tag("high-standards.svg", class: "confirmation-image") %>
						<p>
							Your registration is complete. We'll reachout to you shortly with all your tax forms.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>