<div class="select-provider-page">
	<a href="/" class="arrow-left back-to-security"></a>
	<div class="select-provider-page-contents">
		<div class="row title">
			<div class="col-sm-12">
				Select Your Payroll Provider
			</div>
		</div>
		<br/>
		<div class="payroll-provider-list">
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="adp"><%= image_tag("adp.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="workday"><%= image_tag("workday.png") %></a>
				</div>
			</div>
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="gusto"><%= image_tag("gusto.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="paylocity"><%= image_tag("paylocity.png") %></a>
				</div>
			</div>
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="paycom"><%= image_tag("paycom.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="paychex"><%= image_tag("paychex.png") %></a>
				</div>
			</div>
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="sap"><%= image_tag("sap.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="intuit"><%= image_tag("intuit.png") %></a>
				</div>
			</div>
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="oracle"><%= image_tag("oracle.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="ultimate"><%= image_tag("ultimate.png") %></a>
				</div>
			</div>
			<div class="row payroll">
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="ceridian"><%= image_tag("ceridian.png") %></a>
				</div>
				<div class="col-sm-6">
					<a href="/" class="payroll-provider" data-payroll-provider="square"><%= image_tag("square.png") %></a>
				</div>
			</div>
		</div>
	</div>
</div>