<!DOCTYPE html>
<html>
  <head>
    <title>Verix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('verix-favicon.png') %>
  </head>

  <body>
    <div class="header-container">
      <%= render "shared/header" %>
    </div>
    <%= yield %>
    <div class="footer-container">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
