<!DOCTYPE html>
<html>
  <head>
    <title>Verix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139409728-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139409728-1');
    </script>

    <%= favicon_link_tag asset_path('verix-favicon.png') %>
  </head>

  <body>
    <div class="header-container">
      <%= render "shared/header" %>
    </div>
    <%= yield %>
    <%= render "shared/modal" %>
    <div class="footer-container">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
